
<div class="jumbotron center">
     <h1>Identify Your Ideal Prospects Quicker than before</h1>
     <h3><strong>Get Started in 30 seconds</strong></h3>
     <p>
       <%= link_to "More Info", about_path, class: "btn btn-primary btn-lg" %>
  	</p>    
</div>
